<div class="container">
    <br>
    <b>Product Details</b>
    <br>

<div class="card bg-primary text-white">
    
    <div class="card-body" style="text-align:left">

        <img [src]="productDetails.image" [alt]="productDetails.name" style="width: 100%"> <br>
       <div class="card-text">
            Id: <h6>{{productDetails.id}}</h6> <br>
            name: <h2 class="name">{{productDetails.name}}</h2> <br>
            price: <br><span>₹</span><span><h2 class="price">{{productDetails.price}}</h2></span> <br>
            desc: <h4>{{productDetails.desc}}</h4> <br>
            ram: <h3>{{productDetails.ram}}</h3> <br>
            os: <h4>{{productDetails.os}}</h4> <br>
            processor: <h4>{{productDetails.processor}}</h4> <br>
            graphics: <h4>{{productDetails.graphics}}</h4> <br>
       </div>
</div>
</div>
