
<br>
    <div class="container">
     <b>Products</b>
        <div class="card-deck">
            
            <div class="card" *ngFor='let u of productArray| paginate: { itemsPerPage: 3, currentPage: p }'>  
                
                <div class="card-body">
                    
                    <img class="card-img-top" [src]='u.pimage' [alt]='u.pname' style="width:100%">
                    
                    <div class="container" style="text-align:center">  
                        <br>
                        <h5 class="card-title">{{u.pname}}</h5>
                        <p class="card-text">{{u.pdesc}}</p>
                        <span>₹</span><h3 class="card-text">{{u.pvalue}}</h3>
                    </div>
                                        
                    <div class="container">
                        <!-- <button type="button" class="button" (click)='goCart(u)'>Add to cart</button> -->
                        <button type="button" routerLink="/details/{{u._id}}" class="button">details</button>
                    </div>
                </div>     
                
            </div>
            <div class="container">
                <br>
                <!--Including the pagination control.-->
                <div class="text-right">
                    <pagination-controls class='paginate' (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
               
        </div>
        
    </div>



    