<br>
<div class="container">
    <b>Order Form</b>
    <br>
    <br />
    <form (ngSubmit)='order()' [formGroup]='orderForm'>
        name:
        <input formControlName='name' type="text" class="form-control" placeholder="enter name">
        <div class="alert alert-danger"
            *ngIf="orderForm.get('name').hasError(required) && orderForm.get('name').touched">
            name is required
        </div>
        <br>
        email:
        <input formControlName='email' type="email" class="form-control" placeholder="enter email">
        <div class="alert alert-danger"
            *ngIf="(orderForm.get('email').hasError(required) && orderForm.get('email').touched) || orderForm.get('email').errors?.pattern">
            valid email is required
        </div>
        <br>
        mobile:
        <input formControlName='mobilenum' type="text" class="form-control" placeholder="enter mobilenum">
        <div class="alert alert-danger"
            *ngIf="orderForm.get('mobilenum').hasError(required) && orderForm.get('mobilenum').touched|| orderForm.get('mobilenum').errors?.pattern">
            10 digit mobile number is required
        </div>
        <br>
        address:
        <input formControlName='address' type="address" class="form-control" placeholder="enter address">
        <div class="alert alert-danger" *ngIf="!orderForm.get('address').valid && orderForm.get('address').touched">
            address is required
        </div>
        <br>
        <button [disabled]='orderForm.invalid' class="btn btn-primary">Order</button>
    </form>
    {{error_value}}
</div>