
<br>
<div class="container">
    <b>Signup</b>
    <br>
    <br />
    <form (ngSubmit)='registerUser()' [formGroup]='loginForm'>
        firstname:
        <input formControlName='firstname' type="text" class="form-control" placeholder="enter firstname">
        <div class="alert alert-danger"
            *ngIf="loginForm.get('firstname').hasError('required') && loginForm.get('firstname').touched">
            email is required
        </div>
        <br>
        lastname:
        <input formControlName='lastname' type="text" class="form-control" placeholder="enter lastname">
        <div class="alert alert-danger"
            *ngIf="loginForm.get('lastname').hasError('required') && loginForm.get('lastname').touched">
            email is required
        </div>
        <br>
        email:
        <input formControlName='email' type="email" class="form-control" placeholder="enter email">
        <div class="alert alert-danger"
            *ngIf="(loginForm.get('email').hasError('required') && loginForm.get('email').touched) ||  loginForm.get('email').errors?.pattern">
            valid email is required
        </div>
       <br>
        password:
        <input formControlName='password' type="password" class="form-control" placeholder="enter password">
        <div class="alert alert-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('email').touched">
            password is required and should be less than 10 char
        </div>
        <br>
        <button [disabled]='loginForm.invalid' class="btn btn-primary">register</button>
    </form>
    {{error_value}}
</div>


