.button {
    color: white;
    background-color: #1F1641;
    color: white;;
    border-color: #BBBF95;
    text-align: center;
    padding: 8px;
    width:100%;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.button:hover {
    color: white;
    background-color: #28a745;
    border-color: white;
    cursor: pointer;
}