<div class="container">
    <br>
    <b>Admin User View</b>
    <br>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Usertype</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody *ngFor='let u of userArray'>
            <tr>
                <td>{{u._id}}</td>
                <td>{{u.firstname}}</td>
                <td>{{u.lastname}}</td>
                <td>{{u.email}}</td>
                <td>{{u.usertype}}</td>
                <td>
                    <button type="button" class="button" (click)=deleteUser(u._id)>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

