<br>
<div class="container">
    <b>Login</b>
    <br />
    <form (ngSubmit)='loginUser(loginForm)' [formGroup]='loginForm'>
        email:
        <input formControlName='email' type="email" class="form-control" placeholder="enter email">
        <div class="alert alert-danger"
            *ngIf="loginForm.get('email').hasError(required) && loginForm.get('email').touched">
            email is required
        </div>
        password:
        <input formControlName='password' type="password" class="form-control" placeholder="enter password">
        <div class="alert alert-danger" *ngIf="!loginForm.get('password').valid && loginForm.get('email').touched">
            password is required
        </div>
        <br>
        <button [disabled]='loginForm.invalid' class="btn btn-primary">login</button>
    </form>

</div>
